/* src/components/Dashboard/TransactionTable.css */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .transaction-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .transaction-table th, .transaction-table td {
    padding: 12px 15px;
  }
  
  .transaction-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .transaction-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .transaction-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .transaction-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .transaction-table .negative {
    color: #ff0000;
  }
  
  .transaction-table .positive {
    color: #009879;
  }
  